@import "tailwindcss";

@theme {
  --color-lightest: #92a4b1;
  --color-light: #5a7480;
  --color-mid: #3c5665;
  --color-dark: #29343d;
  --color-darkest: #1e2025;  

  --font-crimson: "Crimson Text", serif;
  --font-inter: "Inter", sans-serif;

  --shadow-black: 4px 4px 0 #06141b;
}

@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

