@import "tailwindcss";

@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;

  --font-crimson: "Crimson Text", serif;
  --font-inter: "Inter", sans-serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

