@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-lightest: #92a4b1;
  --color-light: #5a7480;
  --color-mid: #3c5665;
  --color-dark: #29343d;
  --color-darkest: #1e2025;  

  /* Gunakan font Helvetica dari CDN */
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  --shadow-black: 4px 4px 0 #06141b;
}

/* Pastikan font Helvetica digunakan */
body {
  font-family: "Helvetica Neue", var(--font-sans);
}

@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}